{% extends 'base.html' %}

{# Add dashboard caption to title tag #}
{% block title %}
  {% if g.user %}
    | Admin panel
  {% endif %}
{% endblock title %}

{# Display user name and logout link on navigation menu #}
{% block navigation_menu %}
  {% if g.user %}
    <a href="#">Some link</a>
  {% endif %}
{% endblock navigation_menu %}

{# Display user name and logout link on login menu #}
{% block login_menu %}
  {% if g.user %}
    User: {{ g.user['name'] }} | <a href="{{ url_for('home.logout')}}">Logout</a>
  {% endif %}
{% endblock login_menu %}

{# Display messages if exists #}
{% block messages %}
  {% for message in get_flashed_messages() %} 
    <div class="error-message">{{ message }}</div>
  {% endfor %}
{% endblock messages %}

{# Page content block #}
{% block content %}
<div id="admin-grid">
  <div id="users" class="info-box">
    <div class="caption">Users</div>
    <div class="record">Admin users: {{ content.users.admin }}</div>
    <div class="record">Regular users: {{ content.users.admin }}</div>
  </div>
  
  <div id="database" class="info-box">
    <div class="caption">Database</div>
    <div class="record">Total: {{ content.db.storage_size }} / {{ content.db.objects }} objects</div>
    {% for row in content.db.collections %}
      <div class="record">
        {{ row.name }}: {{ row.storage_size }} / {{ row.objects }} objects
      </div>
    {% endfor %}
  </div>
  <div id="logs" class="info-box">
    <div class="caption">ETL Logs</div>
    <div class="record">Logs: {{ content.etl_log.logs }}</div>
    <div class="record">File size: {{ content.etl_log.size }}</div>
  </div>
  <div id="users-links" class="link-box">
    <a href="#">Add user</a> | 
    <a href="#">Edit user</a> | 
    <a href="#">Delete user</a> | 
    <a href="#">View users</a>
  </div>
  <div id="database-links" class="link-box">
    <a href="#">View database</a> 
  </div>
  <div id="logs-links" class="link-box">
    <a href="#">View logs</a> 
  </div>
</div>

  {% if g.user %}
   <p>{{ content }}</p>
  {% endif %}
{% endblock %}