{% extends 'base.html' %}

{# Add dashboard caption to title tag #}
{% block title %}
  {% if g.user %}
    | Dashboard
  {% endif %}
{% endblock title %}

{# Display user name and logout link on navigation menu #}
{% block navigation_menu %}
  {% if g.user %}
    <a href="{{ url_for('dashboard.update') }}">Update all</a>
  {% endif %}
{% endblock navigation_menu %}

{# Display user name and logout link on login menu #}
{% block login_menu %}
  {% if g.user %}
    User: {{ g.user['name'] }} | <a href="{{ url_for('home.logout')}}">Logout</a>
  {% endif %}
{% endblock login_menu %}

{# Display messages if exists #}
{% block messages %}
  {% for message in get_flashed_messages() %} 
    <div class="error-message">{{ message }}</div>
  {% endfor %}
{% endblock messages %}

{# Page content block #}
{% block content %}
<div id="dashboard-grid">
  <div id="tracking-form" class="tracking-form-container">
    <div class="caption">Add new shipment</div>
      <form method="post" class="tracking" novalidate>
        {{ content.form.csrf_token }}
        {% if content.form.csrf_token.errors %}
          <div class="error-message">You have submitted an invalid CSRF token</div>
        {% endif %}
        {{ content.form.booking.label }}
        {{ content.form.booking() }}
        {% for error in content.form.booking.errors %}
          <span>{{ error }}</span>
        {% endfor %}

        {{ content.form.ref_id.label }}
        {{ content.form.ref_id() }}
        {% for error in content.form.ref_id.errors %}
          <span>{{ error }}</span>
        {% endfor %}

        {{ content.form.requested_eta.label }}
        {{ content.form.requested_eta() }}
        {% for error in content.form.requested_eta.errors %}
          <span>{{ error }}</span>
        {% endfor %}
    
        {{ content.form.submit() }}
      </form>
  </div>
  <div id="tracking-summary" class="tracking-summary-container">
    <div class="caption">Tracking summary</div>
    <div class="record">Active shipments: {{ content.active }}</div>
    <div class="record">Arrived shipments: {{ content.arrived }}</div>
    <div class="record">Total shipments: {{ content.total }}</div>
    <div class="record">Last schedule update: {{ content.updated_on }}</div>
    {% if content.etl_message %}
      <div class="message">{{ content.etl_message }}</div>
    {% endif %}
  </div>
  <div id="location-summary" class="location-summary-container">
    <div class="caption">Location summary</div>
  </div>
  <div id="shipments-table">
    {% if content.table %}
    <div class="caption">Active shipments</div>
    <table>
      <tr>
        <th>Ref Id</th>
        <th>Booking</th>
        <th>Container</th>
        <th>Type</th>
        <th>From</th>
        <th>Departure</th>
        <th>To</th>
        <th>Arrival</th>
        <th>Requested ETA</th>
        <th>Total Days</th>
        <th>ETA delay</th>
      </tr>
      {% for row in content.table %}
        <tr>
          <td style="text-align: center;">{{ row.refId }}</td>
          <td>
            <a href="{{ url_for('dashboard.details', bkg_number=row.booking) }}">{{ row.booking }}</a>
          </td>
          <td>{{ row.container }}</td>
          <td>{{ row.type }}</td>
          <td>{{ row.from.location }}<br>{{ row.from.terminal }}</td>
          <td style="text-align: center;">{{ row.departure }}</td>
          <td>{{ row.to.location }}<br>{{ row.to.terminal }}</td>
          <td style="text-align: center;">{{ row.arrival }}</td>
          <td style="text-align: center;">{{ row.requestedETA }}</td>
          <td style="text-align: center;">{{ row.totalDays }}</td>
          <td style="text-align: center;">{{ row.etaDelay }}</td>
        </tr>
      {% endfor %}
    </table>
    {% endif %}
  </div>
</div>
{% endblock content %}
