{% extends 'base.html' %}

{# Add dashboard caption to title tag #}
{% block title %}
  {% if g.user %}
    | Dashboard
  {% endif %}
{% endblock title %}

{# Display user name and logout link on navigation menu #}
{% block navigation_menu %}
  {% if g.user %}
    <a href="#">Update all</a>
  {% endif %}
{% endblock navigation_menu %}

{# Display user name and logout link on login menu #}
{% block login_menu %}
  {% if g.user %}
    User: {{ g.user['name'] }} | <a href="{{ url_for('home.logout')}}">Logout</a>
  {% endif %}
{% endblock login_menu %}

{# Display messages if exists #}
{% block messages %}
  {% for message in get_flashed_messages() %} 
    <div class="error-message">{{ message }}</div>
  {% endfor %}
{% endblock messages %}

{# Page content block #}
{% block content %}
<div id="dashboard">
  <div id="tracking-form" class="tracking-form-container">
    <div class="caption">Add new shipment</div>
    <form method="post" class="tracking-form">
      <label for="booking">Booking or container No.:</label>
      <input name="booking" id="booking" required>
      <input type="submit" value="Add">
    </form>
  </div>
  <div id="tracking-summary" class="tracking-summary-container">
    <div class="caption">Tracking summary</div>
    <div class="record">Active shipments: {{ content.active }}</div>
    <div class="record">Arrived shipments: {{ content.arrived }}</div>
    <div class="record">Total shipments: {{ content.total }}</div>
    <div class="record">Last update: {{ content.updated_on }}</div>
    {% if content.tracking %}
      <div class="message">{{ content.tracking }}</div>
    {% endif %}
  </div>
  <div id="location-summary" class="location-summary-container">
    <div class="caption">Location summary</div>
  </div>
  <div id="schedule-table">
    {% if content.table %}
    <div class="caption">Schedule</div>
    <table>
      <tr>
        <th>Booking</th>
        <th>Container</th>
        <th>Type</th>
        <th>From</th>
        <th>Departure</th>
        <th>To</th>
        <th>Arrival</th>
        <th>Total Days</th>
      </tr>
      {% for row in content.table %}
        <tr>
          <td>
            <a href="{{ url_for('dashboard.details', bkg_number=row.booking) }}">{{ row.booking }}</a>
          </td>
          <td>{{ row.container }}</td>
          <td>{{ row.type }}</td>
          <td>{{ row.from.location }}<br>{{ row.from.terminal }}</td>
          <td>{{ row.departure }}</td>
          <td>{{ row.to.location }}<br>{{ row.to.terminal }}</td>
          <td>{{ row.arrival }}</td>
          <td style="text-align:center;">{{ row.totalDays }}</td>
        </tr>
      {% endfor %}
    </table>
    {% endif %}
  </div>
</div>
{% endblock content %}
