{% extends 'base.html' %}

{# Add dashboard caption to title tag #}
{% block title %}
  {% if g.user %}
    | Details
  {% endif %}
{% endblock title %}

{# Display user name and logout link on navigation menu #}
{% block navigation_menu %}
  {% if g.user %}
    <a href="{{ url_for('dashboard')}}">Dashboard</a> | 
    <a href="{{ url_for('dashboard.update_record', bkg_number=content.bkg_number) }}">Update record</a> | 
    <a href="#">Delete</a>
  {% endif %}
{% endblock navigation_menu %}

{# Display user name and logout link on login menu #}
{% block login_menu %}
  {% if g.user %}
    User: {{ g.user['name'] }} | <a href="{{ url_for('home.logout')}}">Logout</a>
  {% endif %}
{% endblock login_menu %}

{# Display messages if exists #}
{% block messages %}
  {% for message in get_flashed_messages() %} 
    <div class="error-message">{{ message }}</div>
  {% endfor %}
{% endblock messages %}

{# Page content block #}
{% block content %}
  <div id="shipments-table">
    {% if content.details %}
      <div class="caption">
        Details for {{ content.bkg_number }} (last update {{ content.record_update }})
      </div>
      <table>
        <tr>
          <th>Status</th>
          <th>Event</th>
          <th>Location</th>
          <th>Planned Date</th>
          <th>Actual Date</th>
          <th>Delta Days</th>
        </tr>
        {% for row in content.details %}
        <tr>
        {% if row.status == "E" %}
          <td class="check-box">&#9744</td>
        {% elif row.status == "A" %}
          <td class="check-box">&#9745</td>
        {% endif %}
          <td>{{ row.event }}</td>
          <td>{{ row.placeName }}<br>{{ row.yardName }}</td>
          <td>{{ row.plannedDate }}</td>
          <td>{{ row.actualDate }}</td>
          <td style="text-align:center;">{{ row.delta }}</td>
        </tr>
        {% endfor %}
      </table>
    {% endif %}
  </div>
</div>
{% endblock content %}
