{% extends 'base.html' %}

{# Add dashboard caption to title tag #}
{% block title %}
  {% if g.user %}
    | Details
  {% endif %}
{% endblock title %}

{# Display user name and logout link on top menu #}
{% block top_menu %}
  {% if g.user %}
    User: {{ g.user['name'] }} | <a href="{{ url_for('dashboard')}}">Dashboard</a> | <a href="{{ url_for('home.logout')}}">Logout</a>
  {% endif %}
{% endblock top_menu %}

{# Display messages if exists #}
{% block messages %}
  {% for message in get_flashed_messages() %} 
    <div class="error-message">{{ message }}</div>
  {% endfor %}
{% endblock messages %}

{# Page content block #}
{% block content %}
  <div id="schedule-table">
    {% if content.details %}
      <div class="caption">Details</div>
      <table>
        <tr>
          <th>Event</th>
          <th>Location</th>
          <th>Planned Date</th>
          <th>Actual Date</th>
          <th>Delta</th>
        </tr>
        {% for row in content.details %}
        <tr>
          <td>{{ row.event }}</td>
          <td>{{ row.placeName }}<br>{{ row.yardName }}</td>
          <td>{{ row.plannedDate }}</td>
          <td>{{ row.actualDate }}</td>
          <td>{{ row.delta }}</td>
        </tr>
        {% endfor %}
      </table>
    {% endif %}
  </div>
</div>
{% endblock content %}
