<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SeaCargos | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head> 
  <body>
    <div class="header">
        <h2>Sea Cargos</h2>
    </div>
    <div class="fixed-container">
    {% block errors %}
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    </div>
  </body>
  </html>