<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sea Cargos Aggregator{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head> 

  <body>
    <div id="page-grid">
      <div id="header" class="header-bar">
        {% block header %}Sea Cargos Aggregator{% endblock %}
      </div>
      <div id="navigation-menu" class="navigation-menu-bar">{% block navigation_menu %}{% endblock %}</div>
      <div id="login-menu" class="login-menu-bar">{% block login_menu %}{% endblock %}</div>
      <div id="message">{% block messages %}{% endblock %}</div>
      <div id="content" class="content-container">{% block content %}{% endblock %}</div>
      <div id="footer" class="footer-bar">
        {% block footer %}
        Sea Cargos Aggregator Wep App<br>
        <a href="https://github.com/evgeny81d/seacargos" target="_blank" rel="noopener noreferrer" >
          GitHub
        </a>
        {% endblock %}
      </div>
    </div>
  </body>
</html>