/* Original sourse https://www.w3.org/TR/css-grid/ */
/* BODY STYLE */
body {
	margin: 0;
	padding: 0;
	/*min-width: 1000px;*/
	font-family: Arial;
}

/* GRIDS LAYOUTS */
@media (orientation: landscape) {
    #grid {
        display: grid;
        grid-template-areas: "header header"
                             "navigation-menu login-menu"
                             "message message"
                             "content content" /* . means empty */
                             "footer footer";
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto 1fr auto;
    }
    #dashboard {
        display: grid;
        grid-template-areas: "tracking-form tracking-summary location-summary"
                             "schedule-table schedule-table schedule-table";
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto 1fr;
    }

    /* Grid elements */
    #header {grid-area: header; justify-self: stretch;}
    #navigation-menu {grid-area: navigation-menu; align-self: left;}
    #login-menu {grid-area: login-menu; align-self: right;}
    #message {grid-area: message; align-self: start; justify-self: stretch;}
    #content {grid-area: content; justify-self: center;}
    #footer {grid-area: footer; justify-self: stretch;}

    /* Dashboard elements */
    #tracking-form {grid-area: tracking-form; place-self: center left; margin-left: 10px;}
    #tracking-summary {grid-area: tracking-summary; place-self: center center; margin: 0 10px 0;}
    #location-summary {grid-area: location-summary; place-self: center right; margin-right: 10px;}
    #schedule-table {grid-area: schedule-table; place-self: center center; margin: 0 10px 0;}
}

/* Grid classes */
.header-bar {
    font-size: 20px;
    padding: 20px 0px;
    text-align: center;
    border-bottom: 1px solid black;
}

.navigation-menu-bar {
    font-size: 14px;
    padding: 0 10px 0;
    text-align: left;
}

.login-menu-bar {
    font-size: 14px;
    padding: 0 10px 0;
    text-align: right;
}

.error-message {
    color: red;
    padding: 2px 0;
    text-align: center;
    font-size: 14px;
}

.info-message {
    color: green;
    padding: 2px 0;
    text-align: center;
    font-size: 14px;
}
.content-container {
    padding: 10px;
    min-height: 500px;
}

.footer-bar {
    font-size: 12px;
    padding: 5px 0px;
    text-align: center;
    border-top: 1px solid black;
}

/* Dashboard classes */
.tracking-form-container {
    border: 1px solid black;
    min-height: 130px;
    min-width: 300px;
}

.tracking-summary-container {
    border: 1px solid black;
    min-height: 130px;
    min-width: 300px;
}
    .tracking-summary-container .record {
        font-size: 14px;
        text-align: left;
        margin: 5px 0 5px 10px;

    }
    .tracking-summary-container .message {
        font-size: 14px;
        text-align: center;
        margin: 5px 10px;
        color: green;
    }

.location-summary-container {
    border: 1px solid black;
    min-height: 130px;
    min-width: 300px;
}

.caption {
    /* for tracking-form, tracking-status and location-status containers */
    font-size: 14px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

#schedule-table table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
        font-size: 12px;
}
    #schedule-table .check-box {
        /* background-color: lightgreen; */
        font-size: 16px;
        text-align: center;
    }
/* Forms */
form.login-form {
    display: grid;
    grid-template-columns: [labels] auto [fields] auto;
    grid-auto-flow: row dense;
    width: 200px;
    margin-top: 50px;
    place-self: center stretch;
}
    form.login-form > label {
        grid-column: labels;
        grid-row: auto;
        place-self: center left;
        /*align-self: center;
        justify-self: left;*/
    }
    form.login-form > input {
        grid-column: fields;
        grid-row: auto;
        place-self: center right;
        /*align-self: center;
        justify-self: left;*/
        margin: 5px 0;
        max-width: 100px;
    }

form.tracking-form {
    display: grid;
    grid-template-columns: [labels] auto [fields] auto;
    grid-auto-flow: row dense;
    width: 300px;
    /*margin-top: 50px;*/
    place-self: center center;
}
    form.tracking-form > label {
        grid-column: labels;
        grid-row: auto;
        place-self: center left;
        font-size: 14px;
        margin: 5px 0 5px 10px;
    }
    form.tracking-form > input {
        grid-column: fields;
        grid-row: auto;
        place-self: center right;
        max-width: 100px;
        margin: 5px 10px 5px 0;
    }

