{% extends 'base.html' %}

{# Display messages if exist #}
{% block messages %}
  {% for message in get_flashed_messages() %} 
    <div class="error-message">{{ message }}</div>
  {% endfor %}
{% endblock messages %}

{# Page content block #}
{% block content %}
  {% if not g.user %}
    <form action="" class="login-form" method="post" novalidate>
      {{ form.csrf_token }}
      {% if form.csrf_token.errors %}
        <div class="error-message">You have submitted an invalid CSRF token</div>
      {% endif %}
      {{ form.username.label }}
      {{ form.username() }}
      {% for error in form.username.errors %}
        <span>{{ error }}</span>
      {% endfor %}
      {{ form.password.label }}
      {{ form.password() }}
      {% for error in form.password.errors %}
        <span>{{ error }}</span>
      {% endfor %}
      {{ form.submit() }}
    </form>
  {% else %}
    <p>You are logged in under {{ g.user["name"] }} account.</p>
    <p>Please go to your <a href="{{ url_for('dashboard')}}">dashboard</a>
    or <a href="{{ url_for('home.logout')}}">logout</a>.</p>
  {% endif %}
{% endblock content %}
