{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block errors %}
{% endblock %}

{% block content %}
  {% if g.user %}
    <h6>User: {{ g.user['name'] }}</h6>
    <a href="{{ url_for('home.logout')}}">Logout</a>
  {% else %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required><br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required><br>
    <input type="submit" value="Log In">
  </form>
  {% endif %}
{% endblock %}